.general-info-container,
.educational-experience-container,
.practical-experience-container {
  position: relative;
  background-color: white;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding-bottom: 1rem;
}

.cv-creator-name {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.buttons-container {
  display: flex;
  gap: 15px;
  align-self: flex-end;
}

.buttons-container button {
  border: none;
  color: black;
  padding: 5px;
  border-radius: 15px;
  font-size: 25px;
  background-color: rgba(189, 189, 189, 0.49);
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: #3500d3;
  color: white;
}

.cv-creator-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  background-color: #ffffff;
  width: 30%;
  margin: 2rem;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 10px;
  min-height: 700px;
}

.title {
  text-align: center;
  font-size: 30px;
  margin: 1rem 0;
}

div label {
  font-size: 20px;
  margin-left: 1rem;
  width: fit-content;
  font-weight: bolder;
}

input {
  max-width: 400px;
  border-radius: 10px;
  border: none;
  margin-left: 1rem;
  background-color: rgba(189, 189, 189, 0.205);
  font-size: 25px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input:focus {
  border: 1px solid #3500d3;
  background-color: white;
}

form,
.company-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #3500d3;
}

.arrow:hover {
  transform: scale(1.1) translate(-50%, 50%);
}

.job-duration-container,
.study-duration-container {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.date-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

textarea {
  resize: none;
  margin-left: 1rem;
  max-width: 400px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  background-color: rgba(189, 189, 189, 0.205);
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

textarea:focus {
  border: 1px solid #3500d3;
  background-color: white;
}

input::placeholder,
textarea::placeholder {
  font-size: 15px;
}
